nav {
  background-color: #f2f2f2;
  padding: 10px;
}

a {
  margin-right: 50px;
  text-decoration: none;
  color: #333;
}

.spacer {
  flex-grow: 1;
}

.about-button {
  margin-right: 0;
  margin-left: auto;
}
